<!DOCTYPE html>

<html>
<meta charset="UTF8">
<head>
<style type="styles/bootstrap.css"></style>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link rel="stylesheet" type="text/css" href="styles/font-awesome.css">
<script type="text/javascript" src="scripts/bootstrap.js"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-xs-5"></div>
		<div class="col-xs-2">
			<img src="images/logo.png" height="80%" width="80%"/>
		</div>
		<div class="col-xs-5"></div>
		<br>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group btn-group-lg">
				<a type="button" class="btn btn-primary" href="#">Informaci&oacute;n</a>
			 	<a type="button" class="btn btn-primary" href="#create">Crear Votaci&oacute;n</a>
				<a type="button" class="btn btn-primary" href="#list">Listar</a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<br>
			<span >Bienvenido {{username}}</span>
			<br>
			
			<div>
				<br>
				¡Bienvenido al subsistema de Creación y Administración de votaciones!</div>
				<br>
				<div> Este subsistema ha sido desarrollado por:
					<br>
					<ul>
						<li>Jose Iván Moreno Soto</li>
						<li>Mercedes</li>
						<li>Fernando García Padilla</li>
						<li>María Pérez Reina</li>
						<li>Olga Minerva Moreno Martín</li>
						<li>Francisco José Pérez Domínguez</li>
						<li>Daniel de Tena Benzal</li>
						<li>Jaime</li>
					</ul>
				</div>
				
					<div>
					<br>
					<ul>Y mejorado por:
					<br>
					<li>Aarón Alejandro Valverde Villalón</li>
					<li>Adrián Romero Núñez</li>
					<li>Daniel Pérez Rodríguez</li>
					<li>David Gutierro Gallego</li>
				</ul>
			
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<br>
</div>
</body>
<footer>
	<div class="container">
	
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<p>Este proyecto ha sido realizado para la asignatura de Evolución y Gestión
				de la Configuración, para el grado en Ingeniería en Software (Universidad de Sevilla)</p>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</footer>
</html>